.collection .collection-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.collection .collection-items .side-bar {
  width: 22.8%;
  height: 2260px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .side-bar .sale-poster {
  width: 100%;
  height: 19.7%;
}

.collection .collection-items .side-bar .categories {
  width: 100%;
  height: 15.5%;
  background-color: lime;
}

.collection .collection-items .side-bar .shop {
  width: 100%;
  height: 12%;
  background-color: lime;
}

.collection .collection-items .side-bar .sales {
  width: 100%;
  height: 18.5%;
  background-color: lime;
}

.collection .collection-items .side-bar .offer {
  width: 100%;
  height: 19%;
  background-color: lime;
}

.collection .collection-items .side-bar .custom {
  width: 100%;
  height: 9%;
  background-color: lime;
}

.collection .collection-items .wrapper {
  width: 75%;
  height: 2000px;
  background-color: orchid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .wrapper .collection-head {
  width: 100%;
  height: 2%;
  background-color: orange;
}

.collection .collection-items .wrapper .collection-poster {
  width: 100%;
  height: 16%;
  background-color: orange;
}

.collection .collection-items .wrapper .collection-poster .image {
  width: 100%;
  height: 100%;
}

.collection .collection-items .wrapper .collection-category {
  width: 100%;
  height: 1590px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .wrapper .collection-category .catalogue {
  width: 31.5%;
  height: 23%;
  background-color: yellow;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1150px;
  margin: auto;
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 100%;
  }
}

.contacts .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px 0;
}

.contacts .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .items .item span {
  font-size: 13px;
  color: #777777;
  padding: 0 6px;
}

.contacts .items .item .valute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  font-size: 12px;
  color: #777777;
}

.contacts .items .item .valute i {
  padding: 0 2px;
}

.contacts .items nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .items nav ul li {
  list-style-type: none;
}

.contacts .items nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #777777;
  padding: 0 9px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}

.search-section {
  padding: 25px 0;
}

.search-section .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-section .items .logo {
  width: 25%;
}

.search-section .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
}

.search-section .items .item .form {
  position: relative;
  width: 60%;
  border: 1px solid  #e5e5e5;
}

.search-section .items .item input {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 15px 15px;
}

.search-section .items .item button {
  outline: none;
  border-left: 1px solid #e5e5e5;
  background-color: transparent;
  border: none;
  color: #68635f;
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 12px;
  overflow: hidden;
}

.search-section .items .item .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.search-section .items .item .shop .shop-icon {
  color: #fff;
  background-color: #0183C1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 10px;
}

.search-section .items .item .shop .shopping-info span {
  font-weight: 600;
  font-size: 13px;
  color: #777777;
  display: block;
  letter-spacing: 1px;
}

.search-section .items .item .shop .shopping-info .price {
  display: inline-block;
  font-size: 11px;
  color: #777777;
}

.info {
  background-color: #222222;
}

.info .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.info .items .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  color: #fff;
  cursor: pointer;
  background: #0183C1;
  height: 64px;
  padding: 18px 24px;
  width: 23%;
}

.info .items .menu i {
  margin-right: 15px;
}

.info .items .menu h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
}

.info .items .item span {
  font-size: 13px;
  color: #fff;
  letter-spacing: 1px;
}

.info .items .item a {
  font-size: 10px;
  color: #fff;
  background: #cd1b29;
  padding: 6px 15px;
  text-decoration: none;
  border-radius: 2px;
  letter-spacing: 1px;
}
/*# sourceMappingURL=style.css.map */