.contacts .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 6px 0;
}

.contacts .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .items .item span {
  font-size: 13px;
  color: #777777;
  padding: 0 6px;
}

.contacts .items .item .valute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
  font-size: 12px;
  color: #777777;
}

.contacts .items .item .valute i {
  padding: 0 2px;
}

.contacts .items nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts .items nav ul li {
  list-style-type: none;
}

.contacts .items nav ul li a {
  text-decoration: none;
  font-size: 12px;
  color: #777777;
  padding: 0 9px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #f1f1f1;
}

.search-section {
  padding: 25px 0;
}

.search-section .items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-section .items .logo {
  width: 25%;
}

.search-section .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 75%;
}

.search-section .items .item .form {
  position: relative;
  width: 60%;
  border: 1px solid  #e5e5e5;
}

.search-section .items .item input {
  font-size: 14px;
  width: 100%;
  padding: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 15px 15px;
}

.search-section .items .item button {
  outline: none;
  border-left: 1px solid #e5e5e5;
  background-color: transparent;
  border: none;
  color: #68635f;
  cursor: pointer;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 12px;
  overflow: hidden;
}

.search-section .items .item .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-direction: row;
      flex-direction: row;
}

.search-section .items .item .shop .shop-icon {
  color: #fff;
  background-color: #0183C1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 10px;
}

.search-section .items .item .shop .shopping-info span {
  font-weight: 600;
  font-size: 13px;
  color: #777777;
  display: block;
  letter-spacing: 1px;
}

.search-section .items .item .shop .shopping-info .price {
  display: inline-block;
  font-size: 11px;
  color: #777777;
}

.blog {
  margin-top: 25px;
}

.blog .blog_items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 23% 1fr;
      grid-template-columns: 23% 1fr;
  grid-gap: 30px;
}

.blog .blog_items .side_bar .custom {
  border: 1px solid #ccc;
}

.blog .blog_items .side_bar .custom .title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 15px;
  text-transform: uppercase;
}

.blog .blog_items .side_bar .custom .description {
  padding: 10px 15px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.6em;
  color: #222;
}

.blog .blog_items .side_bar .product_catalog {
  border: 1px solid #ddd;
  border-radius: 3px 3px 0px 0px;
  margin: 0 0 30px;
  background-color: #fff;
  text-align: center;
}

.blog .blog_items .side_bar .product_catalog .button a {
  font-size: 14px;
  color: grey;
  text-decoration: none;
  padding: 5px 15px 5px;
  text-transform: uppercase;
  border: 1px solid #ccc;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 10px;
}

.blog .blog_items .side_bar .product_catalog .button a:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.blog .blog_items .side_bar .product_catalog .description a {
  margin-bottom: 7px;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  font-family: "Open Sans",sans-serif;
  margin: 12px 0 0;
  text-decoration: none;
  color: black;
  text-align: center;
}

.blog .blog_items .side_bar .product_catalog .price {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #000;
  padding: 7px 0px 10px 0px;
  text-align: center;
}

.blog .blog_items .side_bar .product_catalog .title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: normal;
  margin: 0;
  padding: 15px;
  text-transform: uppercase;
}

.blog .blog_items .side_bar .product_catalog img {
  width: 100%;
  height: auto;
}

.blog .blog_items .side_bar .img_banner {
  margin-top: 20px;
  margin-bottom: 20px;
}

.blog .blog_items .side_bar .img_banner img {
  width: 100%;
  height: auto;
}

.blog .blog_items .side_bar .resent {
  border: 1px solid #ccc;
  grid-row-gap: 12px;
  display: -ms-grid;
  display: grid;
}

.blog .blog_items .side_bar .resent .resent_title {
  border-bottom: 1px solid #e5e5e5;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 15px;
  text-transform: uppercase;
}

.blog .blog_items .side_bar .resent .resent_content ul {
  padding: 2px 32px 2px 32px;
}

.blog .blog_items .side_bar .resent .resent_content ul li {
  padding: 5px 0px;
}

.blog .blog_items .side_bar .resent .resent_content ul li a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  font-family: Poppins, sans-serif;
}

.blog .blog_items .side_bar .resent .resent_content ul li a:hover {
  color: #0183c1;
}

.blog .blog_items .bloc_content .pages {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.blog .blog_items .bloc_content .pages ul.pagination-custom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  grid-gap: 12px;
  padding-left: 15px;
}

.blog .blog_items .bloc_content .pages ul.pagination-custom a.active {
  background: black;
  color: white;
}

.blog .blog_items .bloc_content .pages ul.pagination-custom a {
  text-decoration: none;
  border: 1px solid #ececec;
  padding: 7px 15px;
  margin-left: -2px;
}

.blog .blog_items .bloc_content .item {
  height: auto;
}

.blog .blog_items .bloc_content .item .read_more {
  margin-bottom: 20px;
}

.blog .blog_items .bloc_content .item .read_more a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #dddddd;
  color: #333333;
  padding: 10px 18px;
  text-transform: uppercase;
  margin-top: 10px;
  font-family: "Open Sans",sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.blog .blog_items .bloc_content .item .read_more a:hover {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.blog .blog_items .bloc_content .item .blog_tags {
  margin-top: 6px;
  font-size: 13px;
  color: #929292;
}

.blog .blog_items .bloc_content .item .blog_tags a {
  text-decoration: none;
  margin-top: 6px;
  font-size: 13px;
  color: #929292;
}

.blog .blog_items .bloc_content .item .blog_tags a:hover {
  color: #337ab7;
}

.blog .blog_items .bloc_content .item .blog_description {
  color: #333333;
  font-size: 14px;
}

.blog .blog_items .bloc_content .item .blog_author {
  font-style: italic;
  font-size: 13px;
  color: #929292;
  padding-bottom: 6px;
}

.blog .blog_items .bloc_content .item .blog_title {
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 2px;
  font-size: 20px;
  line-height: 30px;
}

.blog .blog_items .bloc_content .item .blog_title a {
  color: #000;
  text-decoration: none;
}

.blog .blog_items .bloc_content .item .content_line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.blog .blog_items .bloc_content .item .content_line a.text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  text-decoration: none;
  font-size: 13px;
  color: #333;
}

.blog .blog_items .bloc_content .item .content_line a.text:hover {
  color: #0183c1;
}

.blog .blog_items .bloc_content .item .content_line .title {
  font-family: montserrat,sans-serif;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  margin: 7px 0;
}

.collection .collection-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}

.collection .collection-items .side-bar {
  width: 22.8%;
  height: 2260px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .side-bar .sale-poster {
  width: 100%;
  height: 19.7%;
}

.collection .collection-items .side-bar .categories {
  width: 100%;
  height: 15.5%;
  background-color: lime;
}

.collection .collection-items .side-bar .shop {
  width: 100%;
  height: 12%;
  background-color: lime;
}

.collection .collection-items .side-bar .sales {
  width: 100%;
  height: 18.5%;
  background-color: lime;
}

.collection .collection-items .side-bar .offer {
  width: 100%;
  height: 19%;
  background-color: lime;
}

.collection .collection-items .side-bar .custom {
  width: 100%;
  height: 9%;
  background-color: lime;
}

.collection .collection-items .wrapper {
  width: 75%;
  height: 2000px;
  background-color: orchid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .wrapper .collection-head {
  width: 100%;
  height: 2%;
  background-color: orange;
}

.collection .collection-items .wrapper .collection-poster {
  width: 100%;
  height: 16%;
  background-color: orange;
}

.collection .collection-items .wrapper .collection-poster .image {
  width: 100%;
  height: 100%;
}

.collection .collection-items .wrapper .collection-category {
  width: 100%;
  height: 1590px;
  background-color: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.collection .collection-items .wrapper .collection-category .catalogue {
  width: 31.5%;
  height: 23%;
  background-color: yellow;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 1150px;
  margin: auto;
}

@media only screen and (max-width: 1150px) {
  .container {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */